{% load static %}

<div class="row mt-5 text-bg-secondary">

    <div class="col-md-4 mt-3">
          <h4>Ekart Shopping Pvt Ltd</h4><br>
          <p>2nd floor, sai complex</p>
          <p>Opposite Rupali Hotel</p>
          <p>F C Road</p>
          <p>Pune</p>
    </div>

    <div class="col-md-4 mt-3">
           <h4>Quick Links</h4><br>
           <p><a href="about.html">About</a></p>
           <p><a href="contact.html">Contact Us</a></p>
           <p><a href="index.html">Home</a></p>
    </div>

    <div class="col-md-4 mt-3">
          <h4>Connect Us</h4><br>
          <p><a href="https://www.facebook.com">Facebook</a></p>
          <p><a href="#">Instagram</a></p>
          <p><a href="#">Twitter</a></p>
     
    </div>


</div><!---Footer end-->



</div>


<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>